<!DOCTYPE html>
<html lang="en">

<head>
    <title>All Tasks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        function listTasks() {
            var p = $('#priority').val();
            var s = $('#status').val();
            var l=  $('#labi').val();
            $.ajax({
                type: "POST",
                url: "/home/listTask",
                data: JSON.stringify({ priority: p, status: s }),
                contentType: 'application/json',
                success: function (response) {
                    var res = response;
                    var code = "";
                    var table = document.getElementById("table");
                    table.innerHTML = "";
                    for (let i = 0; i < res.length; i++) {
                        if(l === ('All') || res[i].label.includes(l))
                        {
                        var d = (Date.parse(res[i].targetDate));
                        var p = new Date(d);
                        var targetDate = p.toUTCString().substring(0, 22);
                        d = (Date.parse(res[i].creationDate));
                        p = new Date(d);
                        var creationDate = p.toUTCString().substring(0, 22);
                        var finishedDate;
                        if (res[i].finishedDate != undefined) {
                            d = (Date.parse(res[i].finishedDate));
                            p = new Date(d);
                            finishedDate = p.toUTCString().substring(0, 22);
                        }
                        else {
                            finishedDate = '___________________';
                        }
                        code += "<tr>";
                        code += "<td>" + res[i].name + "</td>";
                        code += "<td>" + creationDate + "</td>";
                        code += "<td>" + res[i].status + "</td>";
                        code += "<td>" + targetDate + "</td>";
                        code += "<td>" + res[i].priority + "</td>";
                        code += "<td>" + finishedDate + "</td>";
                        code += "<td> <button value=" + JSON.stringify(res[i]) + " onclick=\"editButton(this.value)\" type=\"button\"  ";
                        code += "class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#updateLabel\"><span ";
                        code += "class=\"glyphicon glyphicon-pencil\"></span></button> ";
                        code += "<button onclick=\"deleteButton(this.value)\" type=\"button\" value=" + res[i]._id + " ";
                        code += "class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#deleteLabel\"><span ";
                        code += "class=\"glyphicon glyphicon-trash\"></span></button></td>";
                        code += "</tr>"
                        
                    }

                }
                    $("#table").html(code);
                    $('#myTable').DataTable();
                },
                error: function (xhr, status) {
                    alert('Sorry, there was a problem!');
                }

            });
        }
        $(document).ready(function () {
            listLabels();
            listTasks();
            $("#priority").on('change', function () {
                listTasks();
            });
            $("#status").on('change', function () {
                listTasks();
            });
            $("#labi").on('change', function () {
                listTasks();
            });
            $('#delete').click(function()
        {
            var id= $('#delete').val();
            $.ajax({
                type: "POST",
                url: "/home/deleteTask",
                data: JSON.stringify({ value: id }),
                contentType: 'application/json',
                success: function (response) {

                    listTasks();
                },
                error: function (xhr, status) {
                    alert('Sorry, there was a problem!');
                }

            });
        });

        });
        function editButton(val) {
            const obj = JSON.parse(val);
            $("#task").val(obj.name);
            $('#modalpriority option[value='+obj.priority+']').prop('selected', 'selected');
            $('#modalstatus option[value='+obj.status+']').prop('selected', 'selected');
            $("#targetDate").val(obj.targetDate);
            $("#statuss").val(obj.status);
            $("#addedLabel").val(obj.label);
            document.getElementById("update").action = "/home/updateTask?id=" + obj._id;
        }
        function deleteButton(valu)
        {
            $("#delete").val(valu);
            var b=$("#delete").val();
           
        }
        function listLabels()
        {
            $.ajax({
                type: "POST",
                url: "/home/listLabel",
                data: JSON.stringify({ value: 'val' }),
                contentType: 'application/json',
                success: function (response) {
                    var res = response;
                    var code = "";
                    var options = document.getElementsByClassName("options");
                    code += "<option value=\"All\">All</option>"
                    for (let i = 0; i < res.length; i++) {
                        code += "<option>" + res[i].name + "</option>";
                    }

                    $(".options").html(code);
                },
                error: function (xhr, status) {
                    alert('Sorry, there was a problem!');
                }

            });
        }
        $(document).ready(function () {
            var date = Date.now();
            date = new Date(date);
            var d = date.toISOString().substring(0, 19);
            $("#targetDate").attr("min", d);
        });
    </script>
    <style>
        table,
            td,
            th {
                border: 1px solid #ddd;
                text-align: left;
            }
    
            table {
                border-collapse: collapse;
                width: 100%;
            }
    
            th,
            td {
                padding: 15px;
            }
        </style>
</head>
<% include ./partials/sidebar %>
<div class="content">
    <% include ./partials/header %>
</div>
<div class="container" style="padding:0; width:80%;padding-right:10px; padding-top:50px;">
    <div class="panel panel-default">
        <div class="form-group">
            <label>Priority</label><br />
            <select id="priority" data-style="btn-info" name="status" class="form-control">
                <optgroup label="On The Basis Of">
                    <option value="All">All</option>
                    <option value="P1">P1</option>
                    <option value="P2">P2</option>
                    <option value="P3">P3</option>
                    <option value="P4">P4</option>
                </optgroup>
            </select>
            <br>
            <label>Status</label><br>
            <select id="status" data-style="btn-info" name="Status" class="form-control">
                <optgroup label="On The Basis Of">
                    <option value="All">All</option>
                    <option value="Initial">Initial</option>
                    <option value="Pending">Pending</option>
                    <option value="Completed">Completed</option>
                </optgroup>
            </select><br>
            <label>Labels</label><br>
            <select id="labi" data-style="btn-info" name="lab" class="form-control">
                <optgroup label="Which" class='options' >
                   <option value="All">All</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <center>
                <h4 class="panel-title" style="padding-top: 7.5px;">Tasks</h4>
            </center>
        </div>
        <div id="content" class="container" style=>
            <div style="width:75%">
                <table class="table" id="myTable" style="margin-right:0px;">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Target Date</th>
                            <th>Priority</th>
                            <th>Finished Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="table">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<% include ./partials/dataModal %>

</html>