<!DOCTYPE html>
<html lang="en">
<head>
  <title>SignUp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  </head>
<div class="content">
<div class="container">
    <center>
    </center>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6" style="background-color:#fff;border:5px solid rgba(0,0,0,0.1);margin-top:40px">
        <br />
       
        <div class="alert alert-dismissible" style="border:1px solid #E2E5E1" id="alert-div-avilability">
            <center>
              <label id="avilability"></label>
              <div id="errors"></div>
            </center>
        </div>

            <center><h1>SignUp</h1></center>
            <form action='/signup' method='post' class="form-horizontal" id="form">
              <div class="col-sm-12">
                <div class="form-group">
                    <input type="name" required="" name="name" class="form-control" id="username" placeholder="Name" autocomplete="off"><br/>
                </div>
                <div class="form-group">
                    <input type="email" required="" name="email" class="form-control" id="email" placeholder="Email" autocomplete="off"><br/>
                </div>
                <div class="form-group">
                    <input type="password" required="" name="password" min="6" class="form-control" id="password" placeholder="Password" autocomplete="off"><br/>
                </div>
                
                </div>
            </form>
            <div class="form-group">
                    <input type="submit"id='signup' value="Create My Account" class="btn btn-success">
                    <a value="Add User" class="btn btn-danger" href="/">Cancel</a>
                </div>
        </div>
  </div>
  </div>
  </div>
  <script>
        //    $(document).ready(function () {
          $('#email').keypress(function (e) {
                      var key = e.which;
                      var email = $('#email').val();
                      
                      if(key == 13) 
                      {
                      $.ajax({
                          type: "POST",
                          url: "/home/checkEmail",
                          data: JSON.stringify({ value: email }),
                          contentType: 'application/json',
                          success: function (response) {
                              var code="";
                              var err = document.getElementById("errors");
                              err.innerHTML = "";
                             
                              if(response.length === 1){
                                code +="<div class=\"alert alert-warning\"><strong>Warning!</strong> This Email Already Exists</div>";
                                $("#errors").html(code);
                              }
                          },
                          error: function (xhr, status) {
                              alert(status);
                          }
      
                  });
                  };
                });
                $('#signup').click(function () {
                      
                      $.ajax({
                          type: "POST",
                          url: "/signup",
                          data: JSON.stringify({username:$('#username').val,
                          email:$('#email').val(),
                          password:$('#password').val() 
                    }),
                          contentType: 'application/json',
                          success: function (response) {
                              window.location.replace('/')
                          },
                          error: function (xhr, status) {
                              alert(status);
                          }
      
                  });
                });
  
    </script>
  </body>
  </html>